.due-list{
    list-style:none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .due-item {
        width: 30rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}