ul {
  list-style: none;
  padding-left: 0;
}

mat-card {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

mat-card-title {
  font-size: 1rem;
}

.list-item {
  margin-bottom: 1rem;
}

.item-header {
  margin-bottom: 0.5rem;
}

.styleCheckTask {
  text-decoration: line-through;
}

.opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}

.task-actions {
  mat-icon {
    margin-right: 0px;
  }
}

